In [11]:
import pandas as pd
import numpy as np

In [107]:
train_data = pd.read_csv("train_data.csv")

C:\Users\klopp\AppData\Local\Temp\ipykernel_16732\3240079428.py:1: DtypeWarning: Columns (20,24,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv("train_data.csv")

In [108]:
train_data

,Unnamed: 0,Время происшествий,T,Po,P,DD,Ff,ff10,ff3,N,...,year,month,day,hour,mean_t,mean_years_t,timestamp,Пожар причина человек,Пожар причина оборудование,Вид происшествия
0,0,2022-12-31 23:00:00,-20.2,754.9,772.9,"Ветер, дующий с юго-востока",2.0,NaN,NaN,Облаков нет.,...,2022.0,12.0,31.0,23.0,-10.0,-11.153846,1672527600,0,0,NaN
1,1,2022-12-31 20:00:00,-20.4,755.6,773.8,"Ветер, дующий с юго-востока",3.0,NaN,NaN,20–30%.,...,2022.0,12.0,31.0,20.0,-10.0,-11.153846,1672516800,0,0,NaN
2,2,2022-12-31 17:00:00,-20.2,756.0,774.1,"Ветер, дующий с юго-востока",3.0,NaN,NaN,40%.,...,2022.0,12.0,31.0,17.0,-10.0,-11.153846,1672506000,0,0,NaN
3,3,2022-12-31 11:00:00,-19.6,756.5,774.7,"Ветер, дующий с юго-юго-востока",3.0,NaN,NaN,20–30%.,...,2022.0,12.0,31.0,11.0,-10.0,-11.153846,1672484400,0,0,NaN
4,4,2022-12-31 08:00:00,-19.4,756.3,774.4,"Ветер, дующий с юго-юго-востока",2.0,NaN,NaN,Облаков нет.,...,2022.0,12.0,31.0,8.0,-10.0,-11.153846,1672473600,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958490,958598,2013-10-12 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013.0,10.0,12.0,2.0,17.0,11.153333,1381543200,0,0,NaN
958491,958599,2013-10-12 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013.0,10.0,12.0,2.0,17.0,11.153333,1381543200,0,0,NaN
958492,958600,2008-03-14 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2008.0,3.0,14.0,23.0,NaN,NaN,1205535600,0,0,NaN
958493,958601,2012-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2012.0,12.0,31.0,23.0,-21.0,-11.153846,1356994800,0,0,NaN
958494,958602,2012-12-18 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2012.0,12.0,18.0,23.0,-4.0,-12.785714,1355871600,0,0,Пожары

In [109]:
train_data["T"] = train_data["T"].fillna(train_data["T"].mean())
train_data["Po"] = train_data["Po"].fillna(train_data["Po"].mean())
train_data["P"] = train_data["P"].fillna(train_data["P"].mean())
train_data["Ff"] = train_data["Ff"].fillna(train_data["Ff"].mean())
train_data["ff10"] = train_data["ff10"].fillna(train_data["ff10"].mean())
train_data["ff3"] = train_data["ff3"].fillna(train_data["ff3"].mean())
train_data["Tn"] = train_data["Tn"].fillna(train_data["Tn"].mean())
train_data["Tx"] = train_data["Tx"].fillna(train_data["Tx"].mean())
train_data["VV"] = train_data["VV"].replace('менее 0.05', 0.01)
train_data["VV"] = train_data["VV"].replace('менее 0.1', 0.07)
train_data["VV"] = pd.to_numeric(train_data["VV"])
train_data["VV"] = train_data["VV"].fillna(train_data["VV"].mean())
train_data["Td"] = train_data["Td"].fillna(train_data["Td"].mean())
train_data["RRR"] = train_data["RRR"].replace('Осадков нет', 0)
train_data["RRR"] = train_data["RRR"].replace('Следы осадков', 0.1)
train_data["RRR"] = pd.to_numeric(train_data["RRR"])
train_data["RRR"] = train_data["RRR"].fillna(train_data["RRR"].mean())
train_data["tR"] = train_data["tR"].fillna(train_data["tR"].mean())
train_data["Tg"] = train_data["Tg"].fillna(train_data["Tg"].mean())
train_data["sss"] = train_data["sss"].replace('Менее 0.5', 0.2)
train_data["sss"] = train_data["sss"].replace('Снежный покров не постоянный.', 0)
train_data["sss"] = train_data["sss"].replace('Измерение невозможно или неточно.', 400)
train_data["sss"] = pd.to_numeric(train_data["sss"])
train_data["sss"] = train_data["sss"].fillna(train_data["sss"].mean())
train_data["Сетей теплоснабжения"] = train_data["Сетей теплоснабжения"].fillna(train_data["Сетей теплоснабжения"].mean())
train_data["Сетей горячего водоснабжения"] = train_data["Сетей горячего водоснабжения"].fillna(train_data["Сетей горячего водоснабжения"].mean())
train_data["Сетей холодного водоснабжения"] = train_data["Сетей холодного водоснабжения"].fillna(train_data["Сетей холодного водоснабжения"].mean())
train_data["Сетей электроснабжения"] = train_data["Сетей электроснабжения"].fillna(train_data["Сетей электроснабжения"].mean())
train_data["Сети газоснабжения"] = train_data["Сети газоснабжения"].fillna(train_data["Сети газоснабжения"].mean())
train_data["Станций водоподготовки"] = train_data["Станций водоподготовки"].fillna(train_data["Станций водоподготовки"].mean())
train_data["Водонасосных объектов"] = train_data["Водонасосных объектов"].fillna(train_data["Водонасосных объектов"].mean())
train_data["Объектов водозабора"] = train_data["Объектов водозабора"].fillna(train_data["Объектов водозабора"].mean())
train_data["Сетей водоотведения"] = train_data["Сетей водоотведения"].fillna(train_data["Сетей водоотведения"].mean())

train_data["Очистных сооружений канализации"] = train_data["Очистных сооружений канализации"].fillna(train_data["Очистных сооружений канализации"].mean())
train_data["Канализационных насосных станций"] = train_data["Канализационных насосных станций"].fillna(train_data["Канализационных насосных станций"].mean())
train_data["Котельных"] = train_data["Котельных"].fillna(train_data["Котельных"].mean())
train_data["Тепловых пунктов"] = train_data["Тепловых пунктов"].replace('-', 0)
train_data["Тепловых пунктов"] = pd.to_numeric(train_data['Тепловых пунктов'])
train_data["Тепловых пунктов"] = train_data["Тепловых пунктов"].fillna(train_data["Тепловых пунктов"].mean())

In [118]:
train_data["Вид происшествия"].unique()

array([nan, 'Пожары', 'Аварии с выбросом опасных/токсичных веществ',
       'Аварии на транспорте', 'Опасные природные явления', 'ЖКХ',
       'Прочие опасности', 'Гидродинамические аварии',
       'Биологическая опасность', 'Опасные природные явлыения'],
      dtype=object)

In [111]:
data_nums = ['T',
 'Po',
 'P',
 'Ff',
 'ff10',
 'ff3',
 'Tn',
 'Tx',
 'VV',
 'Td',
 'RRR',
 'tR',
 'Tg',
 'sss',
 'Сетей теплоснабжения',
 'Сетей холодного водоснабжения',
 'Сетей горячего водоснабжения',
 'Сетей электроснабжения',
 'Сети газоснабжения',
 'Станций водоподготовки',
 'Водонасосных объектов',
 'Объектов водозабора',
 'Сетей водоотведения',
 'Очистных сооружений канализации',
 'Канализационных насосных станций',
 'Котельных',
 'Тепловых пунктов']
data_symbols = ["DD", "N", "WW", "W1", "W2", "Cl", "Nh", "H", "Cm", "Ch", "E", "E'", \
                "Наименование муниципального образования", "Тип выезда", "Вид происшествия"]

In [116]:
from sklearn import preprocessing
scaled_dataset = pd.DataFrame()
for x in data_nums:
    data_values = np.array(train_data[x])
    scaled_data = preprocessing.normalize([data_values])
    scaled_dataset[x] = scaled_data[0]

In [114]:
train_data

,Unnamed: 0,Время происшествий,T,Po,P,DD,Ff,ff10,ff3,N,...,year,month,day,hour,mean_t,mean_years_t,timestamp,Пожар причина человек,Пожар причина оборудование,Вид происшествия
0,0,2022-12-31 23:00:00,-20.200000,754.900000,772.900000,"Ветер, дующий с юго-востока",2.000000,11.120667,11.574589,Облаков нет.,...,2022.0,12.0,31.0,23.0,-10.0,-11.153846,1672527600,0,0,NaN
1,1,2022-12-31 20:00:00,-20.400000,755.600000,773.800000,"Ветер, дующий с юго-востока",3.000000,11.120667,11.574589,20–30%.,...,2022.0,12.0,31.0,20.0,-10.0,-11.153846,1672516800,0,0,NaN
2,2,2022-12-31 17:00:00,-20.200000,756.000000,774.100000,"Ветер, дующий с юго-востока",3.000000,11.120667,11.574589,40%.,...,2022.0,12.0,31.0,17.0,-10.0,-11.153846,1672506000,0,0,NaN
3,3,2022-12-31 11:00:00,-19.600000,756.500000,774.700000,"Ветер, дующий с юго-юго-востока",3.000000,11.120667,11.574589,20–30%.,...,2022.0,12.0,31.0,11.0,-10.0,-11.153846,1672484400,0,0,NaN
4,4,2022-12-31 08:00:00,-19.400000,756.300000,774.400000,"Ветер, дующий с юго-юго-востока",2.000000,11.120667,11.574589,Облаков нет.,...,2022.0,12.0,31.0,8.0,-10.0,-11.153846,1672473600,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958490,958598,2013-10-12 02:00:00,2.798945,744.322177,761.997213,NaN,2.446873,11.120667,11.574589,NaN,...,2013.0,10.0,12.0,2.0,17.0,11.153333,1381543200,0,0,NaN
958491,958599,2013-10-12 02:00:00,2.798945,744.322177,761.997213,NaN,2.446873,11.120667,11.574589,NaN,...,2013.0,10.0,12.0,2.0,17.0,11.153333,1381543200,0,0,NaN
958492,958600,2008-03-14 23:00:00,2.798945,744.322177,761.997213,NaN,2.446873,11.120667,11.574589,NaN,...,2008.0,3.0,14.0,23.0,NaN,NaN,1205535600,0,0,NaN
958493,958601,2012-12-31 23:00:00,2.798945,744.322177,761.997213,NaN,2.446873,11.120667,11.574589,NaN,...,2012.0,12.0,31.0,23.0,-21.0,-11.153846,1356994800,0,0,NaN
958494,958602,2012-12-18 23:00:00,2.798945,744.322177,761.997213,NaN,2.446873,11.120667,11.574589,NaN,...,2012.0,12.0,18.0,23.0,-4.0,-12.785714,1355871600,0,0,Пожары

In [101]:
scaled_dataset = pd.concat([scaled_dataset, pd.get_dummies(train_data["Вид происшествия"])])

In [106]:
scaled_dataset

,T,Po,P,Ff,ff10,ff3,Tn,Tx,VV,Td,...,Тепловых пунктов,Аварии на транспорте,Аварии с выбросом опасных/токсичных веществ,Биологическая опасность,Гидродинамические аварии,ЖКХ,Опасные природные явления,Опасные природные явлыения,Пожары,Прочие опасности
0,-0.001609,0.001036,0.001036,0.000702,0.001021,0.00102,-0.000446,0.000835,0.001576,-0.002104,...,0.001053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.001625,0.001037,0.001037,0.001053,0.001021,0.00102,-0.000446,-0.002389,0.001576,-0.002104,...,0.001053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.001609,0.001037,0.001038,0.001053,0.001021,0.00102,-0.000446,0.000835,0.001576,-0.002068,...,0.001053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.001561,0.001038,0.001038,0.001053,0.001021,0.00102,-0.004006,0.000835,0.001576,-0.002050,...,0.001053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.001545,0.001038,0.001038,0.000702,0.001021,0.00102,-0.003905,0.000835,0.001576,-0.001995,...,0.001053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
958491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
958492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
958493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
958494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [117]:
scaled_dataset[['Аварии на транспорте',
       'Аварии с выбросом опасных/токсичных веществ',
       'Биологическая опасность', 'Гидродинамические аварии', 'ЖКХ',
       'Опасные природные явления', 'Опасные природные явления', 'Пожары',
       'Прочие опасности']].fillna(0)

KeyError: "None of [Index(['Аварии на транспорте', 'Аварии с выбросом опасных/токсичных веществ',\n       'Биологическая опасность', 'Гидродинамические аварии', 'ЖКХ',\n       'Опасные природные явления', 'Опасные природные явлыения', 'Пожары',\n       'Прочие опасности'],\n      dtype='object')] are in the [columns]"

In [92]:
scaled_dataset.to_csv("scaled_data")